@mixin img-responsive {
  max-width: 100%;
  height: auto;
}

@mixin grid-layout($row) {
  display: grid;
  grid-template: 150px 665px repeat($row, 250px) / repeat(12, 1fr);
  gap: 20px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin-bottom: 20px;
}
