$primary-color: #d8d0c4;
$quote-color: #41753b;
$primary-font-color: #616055;
$btn-submit: #c58223;
$warning: #c58223;
$dark-bg: #3b3955;
$btn-bg: $dark-bg;
$nav-height: 6rem;
$footer-height: 4.5rem;
$breakpoint-small: 576px;
$breakpoint-large: 1200px;
