.about {
  padding-top: 4rem;

  p,
  h1 {
    padding-bottom: 1em;
    font-weight: 400;
  }
  .contentWrapper {
    display: flex;
    text-align: justify;
    .text {
      padding-right: 7rem;
    }
    .image {
      img {
        box-shadow: 5 5 5 grey;
      }
    }
    @media only screen and (max-width: 1200px) {
      flex-direction: column;
      .text {
        padding-right: 0;
        margin-bottom: 3rem;
      }
      h1,
      p {
        padding: 1% 4%;
      }
    }
  }
}
