@use "../../styles/variables" as *;
@use "../../styles/_mixins.scss" as *;

.wrapper {
  @include grid-layout(4);
  @media only screen and (max-width: $breakpoint-large) {
    grid-template: 100px repeat(7, auto) / repeat(12, 1fr);
    max-height: auto;
  }

  .contentTitle {
    grid-area: 1 / 1 / 1 / 13;
    padding: 3% 1%;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 2rem;
    h3,
    p {
      text-align: center;
      padding-bottom: 2%;
    }
  }
  .img {
    @include img-responsive;
  }
  .img1 {
    grid-area: 2 / 2 / 3 / 12;
  }
  .img2 {
    grid-area: 3 / 2 / 4 / 7;
  }
  .img3 {
    grid-area: 3 / 7 / 4 / 12;
  }
  .img4 {
    grid-area: 5 / 2 / 6 / 7;
  }
  .img5 {
    grid-area: 5 / 7 / 6 / 12;
  }
}
