@import "../styles/variables";
@import "../styles/alerts";

html,
body {
  padding: 0;
  min-height: 100vh;
  height: auto;
  font-size: 1rem;
  width: 100%;
  color: $primary-font-color;
  font-family: var(--font-roboto), Arial, sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

h1 {
  color: black;
}

h1 {
  font-size: 1.5rem;
}
