@use "styles/variables" as *;

.bgGrey {
  background-color: lighten($primary-color, 15%);
}

.containerFlex {
  display: flex;
  padding-top: 50px;
  max-width: 100%;
  @media only screen and (max-width: 1078px) {
    flex-direction: column;
  }
}

.banner {
  position: relative;
  .imgBanner {
    height: auto;
    display: block;
    max-width: 100%;
  }
  .bannerTitle {
    position: absolute;
    bottom: 4%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: $primary-color;
    background-color: transparent;
    p {
      font-size: 1rem;
    }
  }
}

.layoutCards {
  height: 425px;
  width: 360px;
  box-shadow: 0 0 12px lighten(#17171a24, 40%), 0 0 6px lighten(#17171a1a, 40%);
  margin-bottom: 3%;
  max-width: 100%;
  .imgCards {
    max-width: 100%;
    height: auto;
  }
  a {
    color: $primary-font-color;
    text-decoration: none;
  }
  &:hover {
    box-shadow: 0 0 12px #17171a24, 0 0 6px #17171a1a;
  }
  .titleCard {
    text-align: center;
    padding: 20px 20px;
  }
}
.textContent {
  text-align: center;
  align-content: center;
  p {
    text-align: justify;
    padding: 20px 0;
  }
  .btnContent {
    background: $primary-color;

    a {
      color: black;
      text-decoration: none;
    }
    border: solid 1px transparent;
    border-radius: 62.4375rem;
    font-size: 1rem;
    line-height: 1.2;
    min-height: 2.5rem;
    padding: 0.75rem 1.5rem;
    letter-spacing: 0.015625rem;
    margin-bottom: 10%;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: $primary-font-color;
      a {
        color: #ffff;
      }
    }
  }
}
.imgContent {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.quote {
  display: block;
  text-align: center;
  align-content: center;
  height: 350px;
  font-size: 2rem;
}

.imgBlock {
  display: block;
  max-width: 100%;
}
.imgGallery {
  display: flex;
  width: 1050px;
  height: 700px;
  max-width: 100%;

  .imgBox1 {
    width: 450px;
    height: 700px;
  }
  .imgBox2 {
    width: 600px;
    height: 700px;
    background-color: $primary-color;
  }
  @media only screen and (max-width: 1078px) {
    .imgBox2 {
      display: none;
    }

    .imgVertical {
      height: auto;
    }
  }
}
