.wrapper {
  border: 2px red solid;
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: grid;
  grid-template: 550px 1fr 1fr / 1fr 2fr 1fr;
  overflow: auto;
}

.banner {
  text-align: center;
  height: 250px;
  align-content: center;
  font-size: 1.5rem;
  color: #616055;
  font-weight: 200;
}

.bannerTypography {
  font-style: italic;
}

.box {
  background-color: beige;
  color: black;
  border: 2px dodgerblue solid;
  margin: unset;
}
