@use "styles/variables" as *;

.bgGrey {
  background-color: $primary-color;
}

.containerFlex {
  display: flex;
  padding-top: 50px;
}

.contantCard {
  height: 425px;
  width: 360px;
  &:hover {
    box-shadow: 0 4px 12px #17171a24, 0 0 6px #17171a1a;
  }
  .titleCard {
    width: 100%;
    text-align: center;
    padding: 20px 20px;
  }
}

.quoteTypography {
  position: absolute;
  bottom: 19%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: $primary-color;
  background-color: transparent;
  p {
    font-size: 1rem;
    font-weight: 100;
  }
}
