@import "../../styles/variables";

.btnBacktoTop {
  position: fixed;
  bottom: 30px;
  right: 27px;
  color: lighten($primary-font-color, 30);
  border: 1px solid;
  border-radius: 50%;
  padding: 8px 15px;
  font-size: 27px;
  cursor: pointer;
  background-color: transparent;
  &:hover {
    color: $primary-font-color;
  }
}
