@use "../../styles/variables" as *;

.header_nav {
  max-width: 1200px;
}

.nav {
  display: flex;
  height: $nav-height;
  float: right;
  padding: 10px 20px;
  max-width: 1200px;
  .Link {
    padding: 10px;
    color: #616055;
  }
  .active {
    font-weight: bold;
  }
}

.HeaderMenu {
  align-content: center;
  border: 1px solid#AFAFAF;
  padding-left: 50px;
  width: 100%;
  height: 80px;
  z-index: 100;
  background-color: $primary-color;
  color: $primary-font-color;
  font : {
    family: "Gwendolyn", serif;
    style: normal;
    size: 1.6rem;
  }
}

@media (min-width: 1200) {
  .HeaderMenu {
    h1 {
      text-align: center;
    }
  }
}

@media (max-width: $breakpoint-large) {
  .HeaderMenu {
    width: 100%;
  }
}
