@use "../../styles/variables" as *;

.header_top_wrapper {
  max-width: 1200px;
  height: $nav-height;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav {
  float: right;
  padding: 10px 20px;
  max-width: 1200px;
  .Link {
    padding: 10px;
    color: #616055;
  }
  .active {
    font-weight: bold;
  }
}

.HeaderMenu {
  margin-top: $nav-height;
  align-content: center;
  border: 1px solid#AFAFAF;
  padding-left: 50px;
  width: 100%;
  height: 100px;
  z-index: 100;
  background-color: $primary-color;
  color: $primary-font-color;
  font : {
    family: "Gwendolyn", serif;
    style: normal;
    size: 1.6rem;
  }
}

@media (min-width: 1200) {
  .HeaderMenu {
    background-color: white;
    h1 {
      text-align: center;
    }
  }
}

@media (max-width: $breakpoint-large) {
  .HeaderMenu {
    width: 100%;
  }
}
