.nav {
  display: flex;
  height: var(--header-height);
  float: right;
  padding: 10px 20px;
}
.active {
  font-weight: bold;
}

.Link {
  padding: 10px;
  color: #616055;
}
.HeaderMenu {
  border: 1px solid#AFAFAF;
  padding-left: 50px;
  width: 100%;
  height: 80px;
  z-index: 100;
  background-color: #ffffff;
  align-content: center;
  font-family: "Gwendolyn", serif;
  font-style: normal;
  font-size: 1.6rem;
  color: #616055;
}
